<div>
    <h2 id="page-heading">
        <span jhiTranslate="soliqApp.academicDegree.home.title">Academic Degrees</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-academic-degree" [routerLink]="['/academic-degree/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="soliqApp.academicDegree.home.createLabel">
            Create a new Academic Degree
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="academicDegrees?.length === 0">
        <span jhiTranslate="soliqApp.academicDegree.home.notFound">No academicDegrees found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="academicDegrees && academicDegrees.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="institutionName"><span jhiTranslate="soliqApp.academicDegree.institutionName">Institution Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="discipline"><span jhiTranslate="soliqApp.academicDegree.discipline">Discipline</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="startYear"><span jhiTranslate="soliqApp.academicDegree.startYear">Start Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="endYear"><span jhiTranslate="soliqApp.academicDegree.endYear">End Year</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="obtainedDegree"><span jhiTranslate="soliqApp.academicDegree.obtainedDegree">Obtained Degree</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employeeId"><span jhiTranslate="soliqApp.academicDegree.employee">Employee</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let academicDegree of academicDegrees ;trackBy: trackId">
                    <td><a [routerLink]="['/academic-degree', academicDegree.id, 'view']">{{ academicDegree.id }}</a></td>
                    <td>{{ academicDegree.institutionName }}</td>
                    <td>{{ academicDegree.discipline }}</td>
                    <td>{{ academicDegree.startYear }}</td>
                    <td>{{ academicDegree.endYear }}</td>
                    <td jhiTranslate="{{ 'soliqApp.Degree.' + academicDegree.obtainedDegree }}">{{ academicDegree.obtainedDegree }}</td>
                    <td>
                        <div *ngIf="academicDegree.employeeId">
                            <a [routerLink]="['/employee', academicDegree.employeeId , 'view']" >{{ academicDegree.employeeId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/academic-degree', academicDegree.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/academic-degree', academicDegree.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(academicDegree)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="academicDegrees && academicDegrees.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
