<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span jhiTranslate="soliqApp.employee.detail.title">Employee</span> {{ employee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="soliqApp.employee.fullName">Full Name</span></dt>
                <dd>
                    <span>{{ employee.fullName }}</span>
                </dd>
                <dt><span jhiTranslate="soliqApp.employee.email">Email</span></dt>
                <dd>
                    <span>{{ employee.email }}</span>
                </dd>
                <dt><span jhiTranslate="soliqApp.employee.phoneNumber">Phone Number</span></dt>
                <dd>
                    <span>{{ employee.phoneNumber }}</span>
                </dd>
                <dt><span jhiTranslate="soliqApp.employee.birthday">Birthday</span></dt>
                <dd>
                    <span>{{ employee.birthday }}</span>
                </dd>
                <dt><span jhiTranslate="soliqApp.employee.nation">Nation</span></dt>
                <dd>
                    <span>{{ employee.nation }}</span>
                </dd>
                <dt><span jhiTranslate="soliqApp.employee.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="employee.photo">
                        <a (click)="openFile(employee.photoContentType, employee.photo)">
                            <img [src]="'data:' + employee.photoContentType + ';base64,' + employee.photo" style="max-width: 100%;" alt="employee image"/>
                        </a>
                        {{ employee.photoContentType }}, {{ byteSize(employee.photo) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
