<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-job-history-heading" jhiTranslate="soliqApp.jobHistory.home.createOrEditLabel">Create or edit a Job History</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="true">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group" [hidden]="employees[0].id != null">
                    <label class="form-control-label" jhiTranslate="soliqApp.jobHistory.employee" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" formControlName="employeeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackById">{{ employeeOption.fullName }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="h3 form-control-label">{{employees[0].fullName}}</label>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="soliqApp.jobHistory.employer" for="field_employer">Employer</label>
                            <input type="text" class="form-control" name="employer" id="field_employer"
                                   formControlName="employer"/>
                            <div *ngIf="editForm.get('employer')!.invalid && (editForm.get('employer')!.dirty || editForm.get('employer')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('employer')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('employer')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }">
                                    This field cannot be longer than 250 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="soliqApp.jobHistory.startYear" for="field_startYear">Start Year</label>
                            <input type="number" class="form-control" name="startYear" id="field_startYear"
                                   formControlName="startYear"/>
                            <div *ngIf="editForm.get('startYear')!.invalid && (editForm.get('startYear')!.dirty || editForm.get('startYear')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('startYear')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('startYear')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1950 }">
                                    This field should be at least 1950.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('startYear')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 2020 }">
                                    This field cannot be more than 2020.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.get('startYear')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="soliqApp.jobHistory.jobTitle" for="field_jobTitle">Job Title</label>
                            <input type="text" class="form-control" name="jobTitle" id="field_jobTitle"
                                   formControlName="jobTitle"/>
                            <div *ngIf="editForm.get('jobTitle')!.invalid && (editForm.get('jobTitle')!.dirty || editForm.get('jobTitle')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('jobTitle')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('jobTitle')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 250 }">
                                    This field cannot be longer than 250 characters.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="soliqApp.jobHistory.endYear" for="field_endYear">End Year</label>
                            <input type="number" class="form-control" name="endYear" id="field_endYear"
                                   formControlName="endYear"/>
                            <div *ngIf="editForm.get('endYear')!.invalid && (editForm.get('endYear')!.dirty || editForm.get('endYear')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('endYear')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 1950 }">
                                    This field should be at least 1950.
                                </small>
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('endYear')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 2050 }">
                                    This field cannot be more than 2050.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.get('endYear')?.errors?.number" jhiTranslate="entity.validation.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>

                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
