<div class="row">

    <div class="col-md-10 offset-1">

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    [translateValues]="{ username: account.login }">You are logged in as user "{{ account.login }}".</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <h3>Ходимлар резюмисини яратиш мини дастури.</h3>

        <ul style="list-style-type: lower-latin">
            <li>Бунда логин паже булиши керак (статик логин парол билан)</li>
            <li>
                Ходимлар руйхати таблицада бўлиши лозим бўлган устунлар: <br/>
                <ul style="list-style-type: lower-roman">
                    <li>№</li>
                    <li>Ф.И.Ш.</li>
                    <li>Тўғилган сана</li>
                    <li>Миллати</li>
                    <li>Маълумоти(Бунда ўқиш жойлари ва тамомлаган йили, ўқиш маълумоти(олий, ўрта маҳсус))</li>
                    <li>Телефон</li>
                    <li>Почта манзили</li>
                </ul>
            </li>
            <li>
                Ходимлар қўшиш ойнаси бунда бўлшиши лозим бўлган маълумотлар:
                <ul style="list-style-type: lower-roman">
                    <li>№ (автомат)</li>
                    <li>Ф.И.Ш.  (узунлиги 250)</li>
                    <li>Тўғилган сана (дд.мм.йййй)</li>
                    <li>Миллати (100)</li>
                    <li>Маълумоти(бир нечта бўлса алохида қўиш имконияти бўлсин)</li>
                    <li>Телефон (формат берилсин ва сон бўлсин)</li>
                    <li>Почта манзили (валидация бўлсин)</li>
                    <li>Ишлаган жойлари бўлсин бунда хам бир нечта киртитиш имкони бўлсин.</li>
                </ul>
            </li>
            <li>Ходимни руйхатдан танлаб ўзгартириш ва ўчириш(confirm бўлсин) имкони бўлсин.(CRUD бўлсин).</li>
            <li>Битта ходимни резюмисини pdf га чиқариш имкони бўлсин. </li>
        </ul>

    </div>
</div>
